.p{
    display: inline-block;
}
.hr{
    border-color: rgb(187, 98, 98);
}
.li-title{
    padding:0 20px 15px;
}
.br{
    margin-left: 416px;
}
.br1{
    margin-left: 494px;
}
.br2{
    margin-left: 481px;
}
.br3{
    margin-left:486px;
}
.br4{
    margin-left:421px;
}
.br5{
    margin-left: 350px;
}
.br6{
    margin-left: 375px;
}
.br7{
    margin-left: 390px;
}
.br8{
    margin-left: 385px;
}
.br9{
    margin-left: 400px;
}
.br10{
    margin-left: 380px;
}
.br11{
    margin-left: 435px;
}

@media(max-width:450px){
    .p{
        gap: 50px;
        display: flex;
        /* color: lightcyan; */
    }
    .br{
        margin-left: 45px;
    }
    .br1{
        margin-left: 55px;
    }
    .br2{
        margin-left: 48px;
    }
    .br3{
        margin-left:48px;
    }
    .br4{
        display: flex;
        margin-left:35px;
    }
    .br5{
        display: flex;
        margin-left: 0;
    }
    .br6{
        display: flex;
        margin-left: 0;
    }
    .br7{
        margin-left: 11px;
    }
    .br8{
        margin-left: 10px;
    }
    .br9{
        margin-left: 25px;
    }
    .br10{
        margin-left: 3px;
    }
    .br11{
        margin-left: 55px;
    }
}